@import "tailwindcss";

@theme {
  --font-sans: var(--font-neue-montreal), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-fk-raster), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@font-face {
  font-family: 'FK Raster';
  src: url('/fonts/FK_Raster_Roman_Compact_Smooth.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PP_Neue_Montreal_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PP_Neue_Montreal_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-fk-raster: 'FK Raster', monospace;
  --font-neue-montreal: 'PP Neue Montreal', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-neue-montreal);
  @apply antialiased text-slate-900 bg-white;
}

h1, h2, h3, h4, h5, h6, .font-display {
  font-family: var(--font-fk-raster);
}
